.footer{
    height: 12.5vh;
    width: 100%;
    background-image: linear-gradient(to right, #344055,#305252);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    border-top: 1px solid black;
}


.right{
    color: rgb(194, 191, 191);
    margin-top: 3vh;
    margin-left: 10vw;
    font-size: 2vh;
}

.imglink{
    text-align: right;
    padding-right: 12vw;
    margin-bottom: 100px;
}

.lol{
    display: inline;
    border-radius: 100px;
    position: static;
    height: 5vh;
    
}